<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hosopy.okhttpmocksample">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.RealActivity"
            android:label="@string/activity_real" />

        <activity
            android:name=".ui.MockSuccessActivity"
            android:label="@string/activity_mock_success"/>

        <activity
            android:name=".ui.MockUnavailableActivity"
            android:label="@string/activity_mock_unavailable" />
    </application>

</manifest>
